---
title: Boxes
slug: boxes_breathe
position: 2
listed: false
published: true
is_layout: false
---

{% extends 'layouts/simple2' %}

{% block content/main, short_name: true %}

       <div style="width:100%; height:90vh; max-width:1050px;" id="container" class="boxes"></div>

{% endblock %}

