---
title: Coloring
slug: coloring
position: 2
listed: false
published: true
is_layout: false
---

{% extends 'layouts/simple-fluid' %}

{% block content/main, short_name: true %}
  <div class='page'>
  </div>
{% endblock %}

