---
title: Edcoe Charter Alternative Programs
slug: edcoe_charter_alt
handle: edcoealt
position: 100
listed: true
published: true
is_layout: false
---
{% extends "layouts/simple" %}

{% block content/main %}
<h3>EDCOE Charter Alternative Programs</h3>
<p>EDCOE Charter Alternative Programs is a group of eight organizations that helps provide several paths to an excellent education, including the traditional classroom model, independent study, distance learning, home instruction, or programs in combination.</p>
<p>The challenge for this project was that we wanted to ensure uniqueness within each of the eight organizations while clearly maintaining that each belongs to Charter Alternative Programs.</p>
<p>The solution was a combination of common branding and design patterns while giving each program a unique color so it was clear they were their own entity. </p>
<p>Here are each of the program's logos.  Each has the Charter Alternative Program with their iconic A on the bottom half, and the top half is the name of their individual programs.</p>
<img class='img-responsive' src='{{ "charter_alt_all.png" | theme_image_url }}' / >
<a href="http://charter.edcoe.org"><img class='img-responsive' src='{{ "charter_alt_home.png" | theme_image_url }}' / ></a>
<a href="http://eday.edcoe.org/"><img class='img-responsive' src='{{ "charter_alt_eday.png" | theme_image_url }}' / ></a>
{% endblock %}
