---
title: St. Francis of Assisi Elementary School
slug: sfelem
handle: sfelem
position: 0
listed: true
published: true
is_layout: false
---
{% extends "layouts/simple" %}

{% block content/main %}
<div class="center">
<div>
<h3>St. Francis of Assisi Elementary School</h3>
<a href="http://www.stfranciselem.org">http://www.stfranciselem.org</a>
<p>St. Francis Elementary school's redesign was long overdue, but when all was said and done I think they have a site that will stand strong for a long time.  They went from a 90s table-layout to a responsive full-banner homepage.  The difference was massive and can be seen immediately.</p>
<p>The redesign process was as much of a learning experience for me as any design I've taken part.  I like to get a site right when I design it, which often takes a few iterations.  This site went beyond 'a few' iterations and I quickly understood why some designers will put a cap on the number of changes allowed on any project.  I still stand by my no-cap design process though, as I believe it's more important to have happy client then a happy designer.  I also learned that as a designer, sometimes it's as important -- if not more -- to listen to clients initial design input than to try to come up with original solutions.  </p>
<p>Here is a video that rolls through many of the iterations of St. Francis' design.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/O2XVQrqN0Ok" frameborder="0" allowfullscreen></iframe>
<p>Here are the before and after shots of the old site and final design:</p>
</div>
<img class='img-responsive' src='{{ "sfelem.png" | theme_image_url }}' / >
</div>
{% endblock %}

