* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  color: #455c7b;
  font-size: 14px;
  line-height: 1.5;
  padding-top: 70px; 
}

a:link {
  color: #ffaa5c; }

a:visited {
  color: #685c79; }

a:hover {
  color: #ac6c82; }

p {
  max-width: 700px;
  padding: 5px 0; }

strong {
  font-weight: 600; }

.clear {
  display: block;
  content: " ";
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both; }

.container-fluid, .container {
  position: relative;
  margin: 0 auto; 
   }

.container {
  max-width: 1070px; }

ul,
ol {
  list-style-type: none; }

h1 {
  font-size: 300%; }

h2 {
  font-size: 250%; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 125%; }

/* ------ Color Variables -------*/


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

nav li {
  position: relative;
  display: block; }

.nav li a:focus,
.nav li a:hover {
  text-decoration: none;
  background-color: #eee; }

.nav li a {
  padding: 10px 15px; }

.navbar-default {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  min-height: 50px;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }

.navbar-brand {
  float: left;
  height: 50px;
  padding: 10px 0 10px 0;
  font-size: 18px;
  line-height: 20px; }

.navbar-collapse {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

.navbar-collapse:after,
.navbar-collapse:before {
  content: " ";
  clear: both; }

.navbar-right {
  float: right;
  margin-right: -15px; }

.navbar-nav li {
  float: left; }

.navbar-nav li a {
  position: relative;
  display: block;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px; }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
  margin-top: 4px; }

.logo {
  width: 30px; }

.logo-big {
  width: 300px;
  display: inline-block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden; }

@media screen and (min-width: 1070px) {
  .navbar-toggle {
    display: none;
    clear: both;
    content: " "; }

  .navbar-right {
    margin: 0; }

  .navbar-header {
    float: left;
    margin: 0;
    max-height: 50px; } }
@media screen and (max-width: 1070px) {
  .collapse {
    display: none; }

  .nav li a {
    display: block; }

  .navbar-nav {
    float: left;
    width: 100%;
    border-top: 1px solid #e7e7e7; }

  .navbar-nav li {
    float: none; }

  .collapse.in {
    display: block; }

  .bottom-pad {
    padding: 0; }

  .navbar-brand {
    padding-left: 10px; } }
.blog img {
  margin: 0 auto; }

.blog {
  margin: 0 auto;
  max-width: 700px; }

footer {
 
  position: relative;
    margin: 0 auto;
  
}

.footer2 {
    padding-top: 25%;
  position: relative;
    margin: 0 auto;
}

#footer2 {
    position: relative;
    max-width: 800px;
    
}

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.display-inline {
  display: inline-block; }

.grid-photo {
  background-color: white;
  margin-right: 2px;
  line-height: 1.2;
  opacity: 0.8; }

.grid-photo:hover {
  opacity: 1; }

.description-left {
  max-width: 60%;
  text-align: left;
  float: left; }

.photo-details {
  float: right;
  text-align: right; }

.bottom-pad {
  padding-bottom: 40px; }

.text-center {
  text-align: center; }

@media screen and (max-width: 1070px) {
  .description-left {
    max-width: 100%;
    padding: 10px 0; }

  .photo-details {
    text-align: left;
    float: left;
    padding-left: 0;
    display: inline-flex; }

  .photo-details li {
    margin-right: 20px; }

  .grid-photo {
    opacity: 1; } }

/* Styles for Spinner and waves */


.wave {
  width: 140%;
  position: fixed;
  bottom: -30px;
  left: -15%;
  overflow: hidden;
  opacity: 0.7; }

.darker {
  animation: darker 10s infinite;
  animation-direction: alternate;
  bottom: -65px; }

.dark {
  opacity: 0.7;
  animation: dark 15s infinite;
  animation-direction: alternate; }

.light {
  opacity: 0.7;
  animation: light 20s infinite;
  animation-direction: alternate; }

#home-center {
    max-width: 800px;
    margin: 0 auto;
}

#home-center div {
    text-align: center;
}

#logo {
    margin-bottom: 15px;
}

#logo svg {
    width: 100px;
    height: auto;
}

#name {
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
}

#home-about {
    margin: 0 auto;
    padding: 15px;
}

#home-about div {
    display: inline-flex;
    text-align: left;
    margin: 0px 0 15px 0;
    justify-content: center;
    align-items: center;
}

#home-about svg {
    width: 150px;
    height: auto;
    transition: width 1s;
}

#home-about a {
    text-decoration: none;
}

#home-about h4 {
    line-height:1.3;
    margin-left: 40px;
    font-size:140%;
}

#home-about div div{
    display:block;
    align-content: flex-start
}

#home-about span {
    width: 150px;
    height: 150px;
    
}

@media screen and (max-width: 800px) {
    #home-about svg {
    width: 100px;
    height: auto;
    transition: width 1s;
    
}
}

#home-about div p {
    padding: 0;
    margin:0;
    font-size: 120%;
    margin-left:40px;
}

.center p, h3, img {
    width:100%;
    margin:0 auto;
}

.center div {
    max-width:700px;
    margin-left:20%; 
    margin-bottom:40px;
}



@media screen and (max-width:900px) {
    .center div {
    width:100%;
    margin-left:0;
    
    }
}

/* ---- spinner

#spinner {
  position: relative;
  width: 50%;
  height: 50vh;
  display: flex;
  margin: 50px auto;
  opacity: 1; }

#spinner img {
  display: flex-block;
  height: 100%;
  left: 40%;
  width: 10%;
  position: absolute;
  }



#orange {
  animation: orange 1000ms 1;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  transition: transform 2s; }

#orange0 {
    transform:rotate(0deg);
    transition:transform 2s;
}

#red {
  animation: red 1000ms 1;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  transition: transform 2s; }

#red36 {
    transform: rotate(36deg);
    transition: transform 2s; }

#mauve {
  animation: mauve 1000ms 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transition: transform 2s; }

#mauve72 {
    transform: rotate(72deg);
    transition: transform 2s; }


#purple {
  animation: purple 1000ms 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; 
  transition: transform 2s; }

#purple108 {
    transform: rotate(108deg);
    transition: transform 2s; }


#blue {
  animation: blue 1000ms 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; 
  transition: transform 2s; }

#blue144 {   
  transform: rotate(144deg); 
  transition:transform 2s; }


@keyframes orange {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes red {
  0% {
    transform: rotate(36deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes mauve {
  0% {
    transform: rotate(72deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes purple {
  0% {
    transform: rotate(108deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes blue {
  0% {
    transform: rotate(144deg); }
  100% {
    transform: rotate(360deg); }
}

---- end spinner */

/* ----- waves css --------*/

.spinner {
    overflow: hidden;
}

.wave {
  width: 140vw;
  position: absolute;
  bottom: -50px;
  left: -15vw;
  overflow: hidden;
  opacity: 0.7; }

.darker {
  animation: darker 10s infinite;
  animation-direction: alternate;
  bottom: -65px; }

.dark {
  opacity: 0.7;
  animation: dark 15s infinite;
  animation-direction: alternate; }

.light {
  opacity: 0.7;
  animation: light 20s infinite;
  animation-direction: alternate; }

@keyframes darker {
  0% {
    transform: translateX(-10%); }
  100% {
    transform: translateX(10%); } }
@keyframes dark {
  0% {
    transform: translateX(-10%) scaleY(1.2); }
  100% {
    transform: translateX(10%) scaleY(0.5); } }
@keyframes light {
  0% {
    transform: translateX(-10%) scaleY(1.2); }
  100% {
    transform: translateX(10%) scaleY(0.5); } }

.transformtype {
    display:block;
}

form label {
    display:inline;
}


/* ----- boxes-breath css --------*/

.boxes {
    background-color: ;
}

.row {
    width: 100%;
    font-size:0;
}

.box250 {
  background-color: #DA727E;
  width: 50px;
  height: 50px;
  display: inline-flex;
  margin: 0;
  animation: breathe 3s infinite linear;
}

.odd {
  background-color: #455C7B;
  animation: breatheOdd 3s infinite linear;
}


@keyframes breathe {
0% {
    /*transform: rotate3d(2, 3.0, 6.0, 0deg);*/
    border-radius: 0px;
    background-color:#455C7B;
}

50% {
    border-radius: 25px;
    background-color: #DA727E;
    }
    
100% {
    /*transform: rotate3d(5, 5, 10, 360deg); */
    border-radius:0px;
    background-color:#455C7B;
    }
}

@keyframes breatheOdd {
0% {
    /*transform: rotate3d(2, 3.0, 6.0, 0deg);*/
    border-radius: 0px;
    background-color:#DA727E;
}

50% {
    border-radius: 25px;
    background-color: #455C7B;
    }
    
100% {
    /*transform: rotate3d(5, 5, 10, 360deg); */
    border-radius:0px;
    background-color:#DA727E;
    }
}
    
/* ----- end boxes-breath css --------*/   


/*# sourceMappingURL=flower.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=application.css.map */
