body {
    font-size:16px;
    
}
.mapContainer {
    max-width:100vw;
    margin: 0 auto;
    display:inline-flex;
    align-items: flex-start;}

#map {
    width: 72vw;
    display: inline-flex;} 
#interactive {
 min-width:350px;
 margin: 25px;}

#rightColumn {
    display: inline-flex;
    flex-direction: column;
    flex-direction: column-reverse;
    max-width: 25vw;}

#StateLines:hover {
    fill: none; }

#tooltip {
    background-color: white;
    padding: 5px 15px;}
#tooltip div {
    margin: 10px 5px;
    font-family: 'Raleway', sans-serif;
}

#tooltip h3 {
    margin-top:5px;
}
.tooltip {
    display:none;
    position:fixed;
    z-index: 1;
    border: 3px solid black;
    min-width:300px; }

.tooltipShow {
    display:block; }

.color025 { 
    fill: rgba(239,243,255, 1);
    background-color: rgba(239,243,255, 1);
    stroke:#000;
    stroke-linejoin:bevel;
    stroke-width:0.1px;  
    transition: fill 1s;}

.color025:hover { 
    fill: rgba(239,243,255, .5);
    transition: none;}

.color255 { 
    fill: rgba(189,215,231, 1);
    background-color: rgba(189,215,231, 1);
    stroke:#000;
    stroke-linejoin:bevel;
    stroke-width:0.1px; 
    transition: fill 1s;}

.color255:hover { 
    fill: rgba(189,215,231, .5);
    transition: none;}

.color575 { 
    fill: rgba(107,174,214, 1);
    background-color: rgba(107,174,214, 1);
    stroke:#000;
    stroke-linejoin:bevel;
    stroke-width:0.1px; 
    transition: fill 1s;}

.color575:hover {
    fill: rgba(107,174,214, .5);
    transition: none;}

.color7510 { 
    fill: rgba(49,130,189, 1);
    background-color: rgba(49,130,189, 1);
    stroke:#000;
    stroke-linejoin:bevel;
    stroke-width:0.1px; 
    transition: fill 1s;}

.color7510:hover {
    fill: rgba(49,130,189, .5);
    transition: none;}

.color10up { 
    fill: rgba(8,81,156, 1);
    background-color: rgba(8,81,156, 1);
    stroke:#000;
    stroke-linejoin:bevel;
    stroke-width:0.1px; 
    transition: fill 1s;}
.color10up:hover {
    fill: rgba(8,81,156, .5);
    transition: none;}

.cls-1 {
    fill: #999;stroke:#000;stroke-linejoin:bevel;stroke-width:0.1px;}

.cls-1:hover {
    fill: #666;}
h1, h2, h3, h4, h5 {
    font-family: 'Abril Fatface', cursive;}
h1 {
    text-align: center;
}
p {
    font-family: 'Raleway', sans-serif;}
#previous, #next{
    color:white;
    font-family:'Raleway', sans-serif;
    border: 1px solid rgb(44,123,182);
    border-radius: 5px;
    padding: 7px 10px;
    background-color: rgba(44,123,182, 1);
}
#next {
    padding: 7px 16px;
}
p {
    max-width:none;
    text-align:center;
}
#period {
    height: 35px;
    font-size: 1em;
}

.value {
    float: right;
    padding-left: 5px;
}

.box {
    display:inline-flex;
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    align-self:center;
}

#legend div {
    display:inline-flex;
}

#legend div p {
    display: inline-flex;
    margin-left: 15px;
    align-items: center;
}


#legend {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    margin: 0 25px;
}

#legend h3 {
    font-size:150%;
    padding-bottom:15px;
}

@media screen and (max-width: 1300px) {
    .mapContainer {
        display:block;
    }
    #rightColumn{
        max-width: 90vw;
        width: 100%;
        align-items: center;

    }
    #legend {
        display: inline-flex;
    }
    #map {
        display: block;
        width: 85vw;
        margin: 0 auto;
    }
    h1 {
        font-size:150%;
    }
    #interactive {
        min-width:320px;
        margin:10px auto;}
}