---
title: About Me
slug: about_me
position: 1
listed: true
published: true
is_layout: false
seo_title: About Me
meta_description: About Me
meta_keywords: about me, info
---
{% extends 'layouts/simple' %}

{% block content/main %}
	<div>
		<p>Hi I'm Patrick Sparks and this is my place on the web. </p>
		<p>I design and develop web sites, take photos, ride my bike across countries, and rock climb as often as I get the opportunity.</p>
		<p>In early 2016 I quit my job as a product manager for a web startup and flew to Southern Chile where I met my friend Willie, and we bagan riding our bikes north.  Little did I know I would meet an amazing girl in Southern Chile who would be joining us on the journey.  Natalia and I rode from Southern Chile, through Bolivia, and on up to Lima, Peru before we finished our trip and flew back to California together. We spent two and half months exploring California together before she had to return to Chile. She is finishing her thesis in Philosophy before she returns to live with me in California. Life is good and things are starting to return to normal from the dreamland I have been in for the last eight months.</p>
		<p>I like to make good things with great people.  I'm a designer, web developer, and photographer who is always open to a new challenge. In a time of instant-everything, sometimes craftsmanship can be a second, third, or even non-thought. I like to flip that around and make a true craft of web and digital production.</p>
		<p>If you are interested in working with me or just want to talk more, then please get in touch and let's make something awesome together.</p>
	<h2>Design Philosphy</h2>
        {% include 'design-philosophy' %}
    </div>
    <div>
        <img src="{{ 'Logo.svg' | theme_image_url }}" class="logo-big"/>
    </div>
{% endblock %}


