---
title: My Work
slug: my_work
handle: work
position: 4
listed: true
published: true
is_layout: false
---
{% extends "layouts/simple" %}
{% block content/main %}
<h3>Website Design and Development</h3>
<h4><a href='my_work/edcoe_charter_selpa'>EDCOE Charter SELPA</a></h4>
<h4><a href='my_work/edcoe_charter_alt'>EDCOE Charter Alternative Programs</a></h4>
<h4><a href='my_work/sfelem'>St. Francis Assisi Elementary School</a></h4>
<h4><a href='my_work/spsv'>St. Patrick St. Vincent High School</a></h4>
<h3>Playground - Web sketches, animations and fun stuff</h3>
<h4><a href='my_work/unemploymentbycounty'>Unemployment in the USA by county</a></h4>
<h4><a href='my_work/spinner'>Spinner</a></h4>
<h4><a href='my_work/boxes_breathe'>Breathing Boxes</a></h4>
{% endblock %}